body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

canvas {
    border: 1px solid #fff;
}

#levelMessage {
    font-size: 20px;
    color: yellow;
    position: absolute;
    top: 10px;
    left: 10px;
}